* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
}

.top {
    height: 45%;
    background: url(bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.top .heading {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.top .text {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 30px;
}

.top .user {
    background-color: #fff;
    width: 60%;
    height: 65px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 50px;
    padding: 15px 25px;
}

#user-input {
    width: 75%;
    font-size: 18px;
    padding: 8px 25px;
    background: none;
    border: none;
    outline: none;
    border-radius: 30px;
    color: black;
}

.search {
    width: 25%;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 25px;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(134, 83, 230);
    color: aliceblue;
}

.search:hover {
    background-color: rgb(118, 69, 207);
}

.loader {
    display: none;
}

.loader.show {
    display: block;
    margin-top: 20px;
    padding: 30px 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.loader-image {
    margin-bottom: 50px;
    width: 500px;
    height: 450px;
    background-color: rgb(197, 196, 196);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 600;
}

.result-container.hide {
    display: none;
}

.result-container {
    margin-top: 20px;
    padding: 30px 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    margin-bottom: 50px;
    width: 500px;
    height: 450px;
    background-color: rgb(197, 196, 196);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card i {
    width: 50px;
    height: 50px;
    z-index: 2;
    font-size: 25px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

a {
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.show-more {
    height: 80px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-more {
    font-size: 23px;
    font-weight: 600;
    padding: 15px;
    cursor: pointer;
    background-color: rgb(134, 83, 230);
    color: aliceblue;
    border: none;
}

.load-more:hover {
    background-color: rgb(118, 69, 207);
}